@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-container{
    height:100vh;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white; 
     background-color: #23242a; 
}
.login-in{
    height:87%;
    width:43%;
    display: flex;
    justify-content: space-between;
    align-items: center;
   background: linear-gradient(#2C3036,#31343C);
    color:white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;
    padding: 40px;
}
.login-head{
    height:20%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-head h1{
    height: 100%;
    width: 100%;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    height:75%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form form{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
.login-form form input{
    height: 20%;
    width: 90%;
    padding-left: 15px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 8px;
}
.login-form form button{
    height:20%;
    width:90%;
    font-size: 25px;
    background-color: rgb(61, 129, 39);
    color:white;
    outline: none;
    border: none;
    border-radius: 8px;
}
.login-form form a{
    text-decoration: none;
    color:white;
    height: 5%;
    width:90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}
.login-form form button:hover{
    cursor: pointer;
}

@media only screen and (max-width:1000px) and (min-width:800px){
    html,body{
      width:100%;
      overflow-x: hidden;
    }
    .login-in{
        width:58%;
    }
    .login-head h1{
        font-size: 33px;
    }
    .login-form form button{
        font-size: 23px;
    }
    .login-form form a{
        font-size: 13px;
    }
        
}
@media only screen and (max-width:1200px) and (min-width:1000px){
    html,body{
      width:100%;
      overflow-x: hidden;
    }
    .login-in{
        width:49%;
    }
    .login-head h1{
        font-size: 34px;
    }
    .login-form form button{
        font-size: 24px;
    }
    .login-form form a{
        font-size: 14px;
    }       
}
@media only screen and (max-width:800px) and (min-width:600px){
    html,body{
      width:100%;
      overflow-x: hidden;
    }
    .login-in{
        height: 76%;
        width:70%;
    }
    .login-head h1{
        font-size: 30px;
    }
    .login-form form button{
        font-size: 20px;
    }
    .login-form form a{
        font-size: 13px;
    }       
}
@media only screen and (max-width:600px) and (min-width:300px){
    html,body{
      width:100%;
      overflow-x: hidden;
    }
    .login-in{
        height: 70%;
        width:88%;
        padding: 10px;
    }
    .login-head h1{
        font-size: 28px;
    }
    .login-form form button{
        font-size: 18px;
    }
    .login-form form a{
        font-size: 12px;
    }   
    .login-form form input{
        font-size: 14px;
    }    
}